nav {
    width: 100%;
    height: 70px;
    background: #ECECEC;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}   

#NYC {
    height: 100%;
    width: 140px;
    background: pink;
    margin: 0;
}

#environmental {
    width: 40%;
    height: 100%;
    background: pink;
}

#threeoneone {
    height: 100%;
    width: 140px;
    background: pink;
}

#search {
    height: 100%;
    width: 140px;
    background: pink;
}